<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe Form</title>
</head>
<body>
<h1>Subscribe Form</h1>
<form action="/subscriber" method="post">
    <label for="subscName">Name:</label>
    <input type="text" id="subscName" name="subscName">
    <br>
    <label for="subscSurname">Surname:</label>
    <input type="text" id="subscSurname" name="subscSurname">
    <br>
    <label for="msisdn">MSISDN:</label>
    <input type="text" id="msisdn" name="msisdn">
    <br>
    <label for="tariffId">Tariff ID:</label>
    <input type="text" id="tariffId" name="tariffId">
    <br>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate">
    <br>
    <button type="submit">Kaydet</button>
</form>
</body>
</html>
